body {text-align: center; /* 页面内容居中 */}

* {
	margin: 0px;
	padding: 0px; /*  去掉所有标签的marign和padding的值  */
}

ul {
	list-style: none; /*  去掉ul标签默认的点样式  */
}

a img {
	border: none; /*  超链接下，图片的边框  */
}

a {
	color: #333;
	text-decoration: none; /* 超链接样式 */
}

a:hover {
	color: #ff0000;
}

#mooc {
	display:inline-block;
	font-size: 12px;
	line-height: 24px;
	width: 800px;
	height:25px;
	border: 5px solid #ababab;
	-moz-border-radius: 15px; /* Gecko browsers */
	-webkit-border-radius: 15px; /* Webkit browsers */
	border-radius: 15px;
	box-shadow: 2px 2px 10px #ababab;
	margin: 0 auto;
	text-align: left; /* 让新闻内容靠左 */
}
/*  底部样式 */
#moocBot {
	width: 800px;
	height: 10px;
	overflow: hidden; /* 这个一定要加上，内容超出的部分要隐藏，免得撑高底部结构 */
}
/*  中间样式 */
#moocBox {
	height: 20px;
	width: 700px;
	margin-left: 10px;
	margin-top: 5px;
	overflow: hidden; /*  这个一定要加，超出的内容部分要隐藏，免得撑高中间部分 */
}

#mooc ul li {
	height: 24px;
}

#mooc ul li a {
	width: 600px;
	float: left;
	display: block;
	overflow: hidden;
	text-indent: 15px;
	height: 24px;
}

#mooc ul li span {
	float: right;
	color: #999;
}